<div class="specialite">
    <h1 class="title">Specialite</h1>
     <div class="allCard">
        <div class="card">
            <div class="cercle" style="background-image:url('../../../assets/imgs/token.png');background-size: cover ;"></div>
            <span style="text-align: center;">Token</span>
            <p >Contract cryptocurrency :<br>
             ERC20 ,Swap ,Migration ,Airdrop .... </p>
        </div>
        <div class="card">
            <div class="cercle" style="background-image:url('../../../assets/imgs/nft.png');background-size: cover ;"></div>
            <span style="text-align: center;">NFT</span><br>
            <p style="margin: 0px 12px;" >Contract nft: <br> ERC721 , mint ,generate dna , burn ...</p>

        </div>
        <div class="card">
            <div class="cercle" style="background-image:url('../../../assets/imgs/front.png');background-size: cover ;"></div>
            <span style="text-align: center;">Front-End</span><br>
             <p style="margin: 0px 12px;">développer des interface sites Web et des applications</p>
        </div>
        <div class="card">
            <div class="cercle" style="background-image:url('../../../assets/imgs/backend.jpg');background-size: cover ;"></div>
            <span style="text-align: center;">Back-End</span><br>
            <p style="margin: 0px 12px;">code de construction qui permet à une base de données et à une application de communiquer entre elles</p>

        </div>
     </div>
    
</div>
<br><br><br><br>
