<section>
        <div class="nav1">
            <div class="nav-datail">
                <div class="logo">
                    <span>Askhatir.</span>
                </div>
                <div class="export">
                    <input type="button" value="Telecharger CV">
                </div>
            </div>
        </div>
        <div style="height: 200px;width: 100%;"></div>
        <div class="contant">
            <div class="me container" >
                <div class="row align-items-start">
                    <div class="col-lg-4">
                        <div class="img-cercle ">
                            <div>
                                <svg viewBox="0 0 600 600">
                                    <circle cx="300" cy="300" r="100" stroke-dasharray="0.01, 17.44" stroke="hsl(267, 100%, 60%)"/>
                                    <circle cx="300" cy="300" r="120" stroke-dasharray="0.01, 20.93" stroke="hsl(262, 100%, 58%)"/>
                                    <circle cx="300" cy="300" r="140" stroke-dasharray="0.01, 24.42" stroke="hsl(260, 100%, 56%)"/>
                                    <circle cx="300" cy="300" r="160" stroke-dasharray="0.01, 27.92" stroke="hsl(255, 100%, 54%)"/>
                                    <circle cx="300" cy="300" r="180" stroke-dasharray="0.01, 31.45" stroke="hsl(250, 100%, 50%)"/>
                                    <circle cx="300" cy="300" r="200" stroke-dasharray="0.01, 34.95" stroke="hsl(235, 100%, 40%)"/>
                                    <circle cx="300" cy="300" r="220" stroke-dasharray="0.01, 38.42" stroke="hsl(220, 90%, 30%)"/>
                                    <circle cx="300" cy="300" r="240" stroke-dasharray="0.01, 41.94" stroke="hsl(213, 80%, 25%)"/>
                                    <circle cx="300" cy="300" r="260" stroke-dasharray="0.01, 45.44" stroke="hsl(207, 70%, 20%)"/>
                                    <circle cx="300" cy="300" r="280" stroke-dasharray="0.01, 48.92" stroke="hsl(200, 60%, 10%)"/>
                                    <line x1="300" y1="300" x2="600" y2="300" stroke="white"/>
                                </svg>
                            </div>
    
    
     
                            <div class="cc">
                                <div class="img" style="background-color: white;height: 250px;width: 250px;border-radius: 50%;margin: auto;">
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8" style="margin: auto;">
                        <div class="text">
                            <span class="span1">My name is<br>
                                <div class="text-name">
                                    <span style="--i:1">A</span>
                                    <span style="--i:2">s</span>
                                    <span style="--i:3">k</span>
                                    <span style="--i:4">h</span>
                                    <span style="--i:5">a</span>
                                    <span style="--i:6">t</span>
                                    <span style="--i:7">i</span>
                                    <span style="--i:8">r</span>



                                </div>  
                                full stack developer</span><br>
                        </div>
                        <br>
                        <div class="sub-title">
                            <span class="ho4">Head of design at Calvino</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact container">
            <app-contact></app-contact>
        </div>
</section>
<div class=" https://www.quicknode.com/?utm_source=adroll&utm_campaign=retargeting_dotcom&utm_content=30off&utm_medium=adroll  bg-black-trans-gradient absolute w-full neg-top"></div>

