<div class="moi">
    <br><br><br>
    <div class="cont">
         <h1 class="title" >Technologie</h1><br>
    <div class="listTech">
        <div class="tech">
            <div class="img" style="background-image: url('../../../assets/imgs/eth.png');background-repeat: no-repeat;"></div>
            <span>Etherium</span>
        </div>
        <div class="tech">
            <div class="img" style="background-image: url('../../../assets/imgs/eth.png');background-repeat: no-repeat;"></div>
            <span>Angular</span>
        </div>
        <div class="tech">
            <div class="img" style="background-image: url('../../../assets/imgs/eth.png');background-repeat: no-repeat;"></div>
            <span>JavaScript</span>
        </div>
        <div class="tech">
            <div class="img" style="background-image: url('../../../assets/imgs/eth.png');background-repeat: no-repeat;"></div>
            <span>Php</span>
        </div>
        <div class="tech">
            <div class="img" style="background-image: url('../../../assets/imgs/eth.png');background-repeat: no-repeat;"></div>
            <span>Java</span>
        </div>
    </div>
    <br><br>
    </div>
    <div class="contract">
        <h1 class="title" >Smart contract</h1><br>
        <div class="defintion">
           <span>
            Un Smart contract est un contrat auto-exécutable dans lequel les termes de l'accord entre l'acheteur et le vendeur sont directement écrits dans des lignes de code. Le code et les accords qu'il contient existent sur un réseau de blockchain distribué et décentralisé.
           </span>
        </div>
        <div class="imgs" >
        </div>
    </div> 
   <app-education></app-education>
</div>
