<div class="cont">
    <div class="div phone">
      <div style="margin-top: 20px;">
        <div class="icon-contact">
          <i class="fa fa-flash" ></i>
        </div>
          <br>
          <h3 style="text-align: center;">Design For </h3>
          <h5 style="text-align: center;"> Web & Mobile</h5>
      </div>
        </div>
    <div class="div">
      <div style="margin-top: 20px;">
      <div class="icon-contact">
        <i class="fa fa-address-book" ></i>
      </div>
        <br>
        <h3 style="text-align: center;">Phone</h3>
        <h5 style="text-align: center;"> +212673396332</h5>
        </div>
    </div>
    <div class="div">
      <div style="margin-top: 20px;">
      <div class="icon-contact">
        <i class="fa fa-envelope" ></i>
      </div>
        <br>
        <h3 style="text-align: center;">Email</h3>
        <h5 style="text-align: center;"> Askhatir7@gmail.com</h5>
      </div>
    </div>
</div>
